* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item img {
  border: 2px solid white;
  height: 30rem;
}

.about_image {
  max-height: 300px;
}
.services img {
  height: 100%;
  width: 100%;
}
.offer_style {
  background: #a6dcef;
  color: white;
}
